---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/Title.astro';
import ListOfBooks from '../components/ListOfBooks.astro';

---

<Layout title="Libros de Programacion">
	<main class="m-auto max-w-4xl pb-8">
		<Title></Title>
		<ListOfBooks/>
	</main>
</Layout>

