<h1 class="font-black uppercase text-6xl md:text-8xl text-center pt-6 px-4"
    style="view-transition-name: title"
>
    Libros de
    <span class="block text-[36px] md:text-[58px]">programacion</span>
</h1>
